In [1]:
import pandas as pd

In [2]:
exam_data = {"이름" : ["서준", "우현", "인아"], "수학" : [90, 80, 70], "영어" : [98, 89, 95], "음악" : [85, 95, 100], "체육" : [100, 90, 90]}
df = pd.DataFrame(exam_data)

print(df)
print(type(df))

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90
<class 'pandas.core.frame.DataFrame'>

In [3]:
math1 = df["수학"]
print(math1)
print(type(math1))

0    90
1    80
2    70
Name: 수학, dtype: int64
<class 'pandas.core.series.Series'>

In [4]:
english = df.영어
print(english)
print(type(english))

0    98
1    89
2    95
Name: 영어, dtype: int64
<class 'pandas.core.series.Series'>

In [5]:
music_gym = df[["음악", "체육"]]
print(music_gym)
print(type(music_gym))

    음악   체육
0   85  100
1   95   90
2  100   90
<class 'pandas.core.frame.DataFrame'>

In [6]:
math2 = df[["수학"]]
print(math2)
print(type(math2))

   수학
0  90
1  80
2  70
<class 'pandas.core.frame.DataFrame'>