In [1]:
import pandas as pd

In [2]:
exam_data = {"이름" : ["서준", "우현", "인아"], "수학" : [90, 80, 70], "영어" : [98, 89, 95], "음악" : [85, 95, 100], "체육" : [100, 90, 90]}
df = pd.DataFrame(exam_data)
print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

In [3]:
df["국어"] = 80
print(df)

   이름  수학  영어   음악   체육  국어
0  서준  90  98   85  100  80
1  우현  80  89   95   90  80
2  인아  70  95  100   90  80