In [1]:
import pandas as pd

In [2]:
exam_data = {"이름" : ["서준", "우현", "인아"], "수학" : [90, 80, 70], "영어" : [98, 89, 95], "음악" : [85, 95, 100], "체육" : [100, 90, 90]}
df = pd.DataFrame(exam_data)
df.set_index("이름", inplace = True)
print(df)

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

In [3]:
df2 = df * 2
print(df2)
print(type(df2))

     수학   영어   음악   체육
이름
서준  180  196  170  200
우현  160  178  190  180
인아  140  190  200  180
<class 'pandas.core.frame.DataFrame'>

In [4]:
sub = df2 - df
print(sub)
print(type(sub))

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90
<class 'pandas.core.frame.DataFrame'>

In [5]:
add = df2 + df
print(add)
print(type(add))

     수학   영어   음악   체육
이름
서준  270  294  255  300
우현  240  267  285  270
인아  210  285  300  270
<class 'pandas.core.frame.DataFrame'>