# Students Performance

- link: https://www.kaggle.com/datasets/rabieelkharoua/students-performance-dataset/data
- 2392명의 고등학생 포괄적인 정보 포함. (인구 통계, 공부 습관, 부모 참여, 과외 활동 및 학업 성취도)
- 목차 
    - 1. 학생 정보
        - 학생 아이디
        - 학생 통계 세부 정보
            - 연령
            - 성별
            - 인종
            - 부모의 교육수준
        - 공부 습관
    - 2. 부모의 참여
        - 부모의 지원
    - 3. 교과 외 활동
        - 과외 활동
        - 스포츠
        - 음악
        - 자원봉사
    - 4. 학업 성취도
- 결론: 학생의 학업 성취도에 영향을 미치는 요소에 대한 포괄적인 관점을 제공하므로 교육 연구, 예측 모델 개발, 통계 분석에 도움을 준다.

In [1]:
# [1] 모듈 로딩
import pandas as pd
import numpy as np

In [2]:
# [2] 데이터 준비
file_name = 'Student_performance_data _.csv'

In [3]:
# [3] DataFrame
data = pd.read_csv(file_name)

In [4]:
df = data.copy()

In [5]:
df

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
0,1001,17,1,0,2,19.833723,7,1,2,0,0,1,0,2.929196,2.0
1,1002,18,0,0,1,15.408756,0,0,1,0,0,0,0,3.042915,1.0
2,1003,15,0,2,3,4.210570,26,0,2,0,0,0,0,0.112602,4.0
3,1004,17,1,0,3,10.028829,14,0,3,1,0,0,0,2.054218,3.0
4,1005,17,1,0,2,4.672495,17,1,3,0,0,0,0,1.288061,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2387,3388,18,1,0,3,10.680555,2,0,4,1,0,0,0,3.455509,0.0
2388,3389,17,0,0,1,7.583217,4,1,4,0,1,0,0,3.279150,4.0
2389,3390,16,1,0,2,6.805500,20,0,2,0,0,0,1,1.142333,2.0
2390,3391,16,1,1,0,12.416653,17,0,2,0,1,1,0,1.803297,1.0
2391,3392,16,1,0,2,17.819907,13,0,2,0,0,0,1,2.140014,1.0

In [6]:
# [4] 데이터 확인
# 데이터 기본 정보
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2392 entries, 0 to 2391
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   StudentID          2392 non-null   int64
 1   Age                2392 non-null   int64
 2   Gender             2392 non-null   int64
 3   Ethnicity          2392 non-null   int64
 4   ParentalEducation  2392 non-null   int64
 5   StudyTimeWeekly    2392 non-null   float64
 6   Absences           2392 non-null   int64
 7   Tutoring           2392 non-null   int64
 8   ParentalSupport    2392 non-null   int64
 9   Extracurricular    2392 non-null   int64
 10  Sports             2392 non-null   int64
 11  Music              2392 non-null   int64
 12  Volunteering       2392 non-null   int64
 13  GPA                2392 non-null   float64
 14  GradeClass         2392 non-null   float64
dtypes: float64(3), int64(12)
memory usage: 280.4 KB

In [7]:
# 데이터 요약 통계
df.describe()

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
count,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000
mean,2196.500000,16.468645,0.510870,0.877508,1.746237,9.771992,14.541388,0.301421,2.122074,0.383361,0.303512,0.196906,0.157191,1.906186,2.983696
std,690.655244,1.123798,0.499986,1.028476,1.000411,5.652774,8.467417,0.458971,1.122813,0.486307,0.459870,0.397744,0.364057,0.915156,1.233908
min,1001.000000,15.000000,0.000000,0.000000,0.000000,0.001057,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1598.750000,15.000000,0.000000,0.000000,1.000000,5.043079,7.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.174803,2.000000
50%,2196.500000,16.000000,1.000000,0.000000,2.000000,9.705363,15.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,1.893393,4.000000
75%,2794.250000,17.000000,1.000000,2.000000,2.000000,14.408410,22.000000,1.000000,3.000000,1.000000,1.000000,0.000000,0.000000,2.622216,4.000000
max,3392.000000,18.000000,1.000000,3.000000,4.000000,19.978094,29.000000,1.000000,4.000000,1.000000,1.000000,1.000000,1.000000,4.000000,4.000000

In [8]:
# [5] 데이터 정제
# 결측치 확인
df.isna().sum()

StudentID            0
Age                  0
Gender               0
Ethnicity            0
ParentalEducation    0
StudyTimeWeekly      0
Absences             0
Tutoring             0
ParentalSupport      0
Extracurricular      0
Sports               0
Music                0
Volunteering         0
GPA                  0
GradeClass           0
dtype: int64

In [9]:
# 중복값 확인
sum(df.duplicated())

0

In [10]:
# 데이터 상관관계
df.corr()

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
StudentID,1.000000,-0.042255,-0.014625,-0.012990,-0.002307,0.026976,0.014841,-0.007834,0.003016,-0.003611,-0.020703,-0.005468,0.008011,-0.002697,-0.098500
Age,-0.042255,1.000000,0.044895,-0.028473,0.025099,-0.006800,-0.011511,-0.012076,0.033197,-0.025061,-0.046320,-0.003492,0.013074,0.000275,-0.006250
Gender,-0.014625,0.044895,1.000000,0.016010,0.006771,0.011469,0.021479,-0.031597,0.008065,-0.005964,-0.008897,0.007109,-0.000200,-0.013360,0.022998
Ethnicity,-0.012990,-0.028473,0.016010,1.000000,0.033595,0.007184,-0.025712,-0.017440,0.020922,-0.008927,-0.004484,-0.014627,0.013468,0.027760,-0.023326
ParentalEducation,-0.002307,0.025099,0.006771,0.033595,1.000000,-0.011051,0.036518,-0.017340,-0.017463,0.007479,0.002029,0.039439,0.011960,-0.035854,0.041031
StudyTimeWeekly,0.026976,-0.006800,0.011469,0.007184,-0.011051,1.000000,0.009326,0.028930,0.035800,-0.022860,0.006836,0.007791,-0.016604,0.179275,-0.134131
Absences,0.014841,-0.011511,0.021479,-0.025712,0.036518,0.009326,1.000000,-0.015534,0.002108,0.000360,0.041454,-0.008692,-0.018528,-0.919314,0.728633
Tutoring,-0.007834,-0.012076,-0.031597,-0.017440,-0.017340,0.028930,-0.015534,1.000000,-0.000824,0.004865,0.006278,-0.011385,-0.050898,0.145119,-0.111695
ParentalSupport,0.003016,0.033197,0.008065,0.020922,-0.017463,0.035800,0.002108,-0.000824,1.000000,-0.008381,-0.006176,0.035122,-0.006036,0.190774,-0.136823
Extracurricular,-0.003611,-0.025061,-0.005964,-0.008927,0.007479,-0.022860,0.000360,0.004865,-0.008381,1.000000,-0.011820,-0.014191,-0.007427,0.094078,-0.069733
Sports,-0.020703,-0.046320,-0.008897,-0.004484,0.002029,0.006836,0.041454,0.006278,-0.006176,-0.011820,1.000000,-0.020474,-0.002799,0.057859,-0.026654
Music,-0.005468,-0.003492,0.007109,-0.014627,0.039439,0.007791,-0.008692,-0.011385,0.035122,-0.014191,-0.020474,1.000000,0.017224,0.073318,-0.036065
Volunteering,0.008011,0.013074,-0.000200,0.013468,0.011960,-0.016604,-0.018528,-0.050898,-0.006036,-0.007427,-0.002799,0.017224,1.000000,0.003258,0.013156
GPA,-0.002697,0.000275,-0.013360,0.027760,-0.035854,0.179275,-0.919314,0.145119,0.190774,0.094078,0.057859,0.073318,0.003258,1.000000,-0.782835
GradeClass,-0.098500,-0.006250,0.022998,-0.023326,0.041031,-0.134131,0.728633,-0.111695,-0.136823,-0.069733,-0.026654,-0.036065,0.013156,-0.782835,1.000000

In [11]:
# [6] 데이터 분석
# 성적 값
df['GradeClass'].value_counts()

GradeClass
4.0    1211
3.0     414
2.0     391
1.0     269
0.0     107
Name: count, dtype: int64

In [12]:
# 성적 평균
df['GradeClass'].mean()

2.983695652173913

In [13]:
# 주간 공부 시간 값
df['StudyTimeWeekly'].value_counts()

StudyTimeWeekly
19.833723    1
16.082185    1
2.543624     1
7.971184     1
3.403053     1
            ..
18.116988    1
10.324956    1
3.074986     1
18.434533    1
17.819907    1
Name: count, Length: 2392, dtype: int64

In [14]:
# 주간 공부 시간 평균
df['StudyTimeWeekly'].mean()

9.771991919431738

In [15]:
# 나이 값
df['Age'].value_counts()

Age
15    630
16    593
17    587
18    582
Name: count, dtype: int64

In [16]:
# 나이 평균
df['Age'].mean()

16.468645484949832

In [17]:
# 결석 값
df['Absences'].value_counts()

Absences
25    93
13    93
12    92
8     91
19    90
20    90
6     88
15    87
23    86
7     86
1     85
27    84
14    84
5     83
21    83
17    81
24    81
26    80
3     79
16    79
18    79
11    71
22    71
2     69
29    69
4     69
0     67
9     67
10    61
28    54
Name: count, dtype: int64

In [18]:
# 결석 평균
df['Absences'].mean()

14.54138795986622

In [50]:
# 상위권 학생 DataFrame
df_gtB = df[df['GradeClass'] <= 1]

In [51]:
df_gtB

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
1,1002,18,0,0,1,15.408756,0,0,1,0,0,0,0,3.042915,1.0
5,1006,18,0,0,1,8.191219,0,0,1,1,0,0,0,3.084184,1.0
9,1010,16,1,0,1,18.444466,0,0,3,1,0,0,0,3.573474,0.0
38,1039,15,1,1,1,2.949078,3,1,1,1,1,0,0,3.018906,1.0
44,1045,18,1,0,1,18.921512,1,1,3,1,1,0,0,4.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2381,3382,15,0,2,0,10.095086,5,0,3,0,0,0,0,2.956255,0.0
2385,3386,16,1,0,1,1.445434,20,0,3,1,1,0,0,1.395631,1.0
2387,3388,18,1,0,3,10.680555,2,0,4,1,0,0,0,3.455509,0.0
2390,3391,16,1,1,0,12.416653,17,0,2,0,1,1,0,1.803297,1.0
2391,3392,16,1,0,2,17.819907,13,0,2,0,0,0,1,2.140014,1.0

In [52]:
df_gtB.info()

<class 'pandas.core.frame.DataFrame'>
Index: 376 entries, 1 to 2391
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   StudentID          376 non-null    int64
 1   Age                376 non-null    int64
 2   Gender             376 non-null    int64
 3   Ethnicity          376 non-null    int64
 4   ParentalEducation  376 non-null    int64
 5   StudyTimeWeekly    376 non-null    float64
 6   Absences           376 non-null    int64
 7   Tutoring           376 non-null    int64
 8   ParentalSupport    376 non-null    int64
 9   Extracurricular    376 non-null    int64
 10  Sports             376 non-null    int64
 11  Music              376 non-null    int64
 12  Volunteering       376 non-null    int64
 13  GPA                376 non-null    float64
 14  GradeClass         376 non-null    float64
dtypes: float64(3), int64(12)
memory usage: 47.0 KB

In [53]:
df_gtB.describe()

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
count,376.000000,376.000000,376.000000,376.000000,376.000000,376.000000,376.000000,376.000000,376.000000,376.000000,376.000000,376.000000,376.000000,376.000000,376.000000
mean,2356.143617,16.465426,0.494681,0.901596,1.699468,11.330812,5.436170,0.428191,2.468085,0.446809,0.345745,0.242021,0.156915,3.030492,0.715426
std,748.986886,1.126115,0.500638,1.029380,0.942394,5.651817,6.414248,0.495476,1.024522,0.497825,0.476244,0.428878,0.364205,0.734264,0.451813
min,1002.000000,15.000000,0.000000,0.000000,0.000000,0.018117,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1718.500000,15.000000,0.000000,0.000000,1.000000,6.516258,1.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,3.039548,0.000000
50%,2362.500000,16.000000,0.000000,1.000000,2.000000,11.769706,3.000000,0.000000,3.000000,0.000000,0.000000,0.000000,0.000000,3.214951,1.000000
75%,3144.500000,17.250000,1.000000,2.000000,2.000000,16.206714,6.000000,1.000000,3.000000,1.000000,1.000000,0.000000,0.000000,3.440338,1.000000
max,3392.000000,18.000000,1.000000,3.000000,4.000000,19.972346,29.000000,1.000000,4.000000,1.000000,1.000000,1.000000,1.000000,4.000000,1.000000

In [54]:
df_gtB.corr()

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
StudentID,1.000000,0.038638,0.015783,0.021117,-0.002651,-0.027914,0.500147,-0.097088,-0.051555,-0.037806,0.041068,-0.073204,-0.034816,-0.496694,-0.135804
Age,0.038638,1.000000,0.058798,-0.008694,-0.063842,0.040331,0.057471,0.024214,-0.011360,-0.057992,-0.022402,-0.029560,0.088035,-0.069646,-0.006287
Gender,0.015783,0.058798,1.000000,0.042965,0.005081,0.014250,-0.099757,-0.103672,-0.015929,0.020261,0.007734,-0.000198,-0.031973,0.086705,0.046342
Ethnicity,0.021117,-0.008694,0.042965,1.000000,-0.066303,-0.041277,-0.053256,-0.026963,0.048849,0.060009,-0.001128,-0.024434,0.055522,0.057619,-0.048904
ParentalEducation,-0.002651,-0.063842,0.005081,-0.066303,1.000000,-0.073735,-0.081046,-0.072041,-0.072104,-0.031323,0.077652,-0.043886,0.083377,0.048433,-0.000983
StudyTimeWeekly,-0.027914,0.040331,0.014250,-0.041277,-0.073735,1.000000,-0.016342,-0.090714,-0.047466,0.019988,-0.051431,-0.050083,0.041320,0.169562,-0.058564
Absences,0.500147,0.057471,-0.099757,-0.053256,-0.081046,-0.016342,1.000000,-0.073187,0.003747,-0.069546,-0.015453,-0.056894,-0.053347,-0.919987,-0.030669
Tutoring,-0.097088,0.024214,-0.103672,-0.026963,-0.072041,-0.090714,-0.073187,1.000000,-0.038673,-0.010121,0.037690,-0.074861,-0.063001,0.172564,-0.073658
ParentalSupport,-0.051555,-0.011360,-0.015929,0.048849,-0.072104,-0.047466,0.003747,-0.038673,1.000000,-0.055622,0.028141,0.014591,-0.040143,0.135811,-0.132010
Extracurricular,-0.037806,-0.057992,0.020261,0.060009,-0.031323,0.019988,-0.069546,-0.010121,-0.055622,1.000000,-0.068443,-0.108157,-0.034735,0.145760,-0.085261
Sports,0.041068,-0.022402,0.007734,-0.001128,0.077652,-0.051431,-0.015453,0.037690,0.028141,-0.068443,1.000000,0.033126,0.055364,0.141046,-0.012459
Music,-0.073204,-0.029560,-0.000198,-0.024434,-0.043886,-0.050083,-0.056894,-0.074861,0.014591,-0.108157,0.033126,1.000000,0.080593,0.119117,0.067382
Volunteering,-0.034816,0.088035,-0.031973,0.055522,0.083377,0.041320,-0.053347,-0.063001,-0.040143,-0.034735,0.055364,0.080593,1.000000,0.051503,0.029006
GPA,-0.496694,-0.069646,0.086705,0.057619,0.048433,0.169562,-0.919987,0.172564,0.135811,0.145760,0.141046,0.119117,0.051503,1.000000,-0.062313
GradeClass,-0.135804,-0.006287,0.046342,-0.048904,-0.000983,-0.058564,-0.030669,-0.073658,-0.132010,-0.085261,-0.012459,0.067382,0.029006,-0.062313,1.000000

In [29]:
# 학습 태도 : 주간공부시간 + 결석수
# 평귤 결석보다 낮고, 주간 평균 공부 시간보다 높은 성적 B 이상 비율
((df['Absences'] <= df['Absences'].mean()) & (df['StudyTimeWeekly'] >= df['StudyTimeWeekly'].mean()) & (df['GradeClass'] <= 1)).sum() / ((df['Absences'] <= df['Absences'].mean()) & (df['StudyTimeWeekly'] >= df['StudyTimeWeekly'].mean())).sum() * 100

35.00837520938023

In [35]:
# 평귤 결석보다 높고, 주간 평균 공부 시간보다 낮은 학생이 성적 B 이상 받을 확률
((df['Absences'] >= df['Absences'].mean()) & (df['StudyTimeWeekly'] <= df['StudyTimeWeekly'].mean()) & (df['GradeClass'] <= 1)).sum() / ((df['Absences'] >= df['Absences'].mean()) & (df['StudyTimeWeekly'] <= df['StudyTimeWeekly'].mean())).sum() * 100

3.403565640194489

In [31]:
# 15세 DataFrame
df_15 = df[df['Age'] == 15]

In [32]:
# 15세 평귤 결석보다 낮고, 주간 평균 공부 시간보다 높은 성적 B 이상 비율
((df_15['Absences'] <= df_15['Absences'].mean()) & (df_15['StudyTimeWeekly'] >= df_15['StudyTimeWeekly'].mean()) & (df_15['GradeClass'] <= 1)).sum() / ((df_15['Absences'] <= df_15['Absences'].mean()) & (df_15['StudyTimeWeekly'] >= df_15['StudyTimeWeekly'].mean())).sum() * 100

35.22012578616352

In [36]:
# 15세 평귤 결석보다 높고, 주간 평균 공부 시간보다 낮은 학생이 성적 B 이상 받을 확률
((df_15['Absences'] >= df_15['Absences'].mean()) & (df_15['StudyTimeWeekly'] <= df_15['StudyTimeWeekly'].mean()) & (df_15['GradeClass'] <= 1)).sum() / ((df_15['Absences'] >= df_15['Absences'].mean()) & (df_15['StudyTimeWeekly'] <= df_15['StudyTimeWeekly'].mean())).sum() * 100

1.89873417721519

In [33]:
# 16세 DataFrame
df_16 = df[df['Age'] == 16]

In [34]:
# 16세 평귤 결석보다 낮고, 주간 평균 공부 시간보다 높은 성적 B 이상 비율
((df_16['Absences'] <= df_16['Absences'].mean()) & (df_16['StudyTimeWeekly'] >= df_16['StudyTimeWeekly'].mean()) & (df_16['GradeClass'] <= 1)).sum() / ((df_16['Absences'] <= df_16['Absences'].mean()) & (df_16['StudyTimeWeekly'] >= df_16['StudyTimeWeekly'].mean())).sum() * 100

40.28776978417266

In [37]:
# 16세 평귤 결석보다 높고, 주간 평균 공부 시간보다 낮은 성적 B 이상 비율
((df_16['Absences'] >= df_16['Absences'].mean()) & (df_16['StudyTimeWeekly'] <= df_16['StudyTimeWeekly'].mean()) & (df_16['GradeClass'] <= 1)).sum() / ((df_16['Absences'] >= df_16['Absences'].mean()) & (df_16['StudyTimeWeekly'] <= df_16['StudyTimeWeekly'].mean())).sum() * 100

3.6809815950920246

In [42]:
# 17세 DataFrame
df_17 = df[df['Age'] == 17]

In [43]:
# 17세 평귤 결석보다 낮고, 주간 평균 공부 시간보다 높은 성적 B 이상 비율
((df_17['Absences'] <= df_17['Absences'].mean()) & (df_17['StudyTimeWeekly'] >= df_17['StudyTimeWeekly'].mean()) & (df_17['GradeClass'] <= 1)).sum() / ((df_17['Absences'] <= df_17['Absences'].mean()) & (df_17['StudyTimeWeekly'] >= df_17['StudyTimeWeekly'].mean())).sum() * 100

28.47682119205298

In [44]:
# 17세 평귤 결석보다 높고, 주간 평균 공부 시간보다 낮은 성적 B 이상 비율
((df_17['Absences'] >= df_17['Absences'].mean()) & (df_17['StudyTimeWeekly'] <= df_17['StudyTimeWeekly'].mean()) & (df_17['GradeClass'] <= 1)).sum() / ((df_17['Absences'] >= df_17['Absences'].mean()) & (df_17['StudyTimeWeekly'] <= df_17['StudyTimeWeekly'].mean())).sum() * 100

3.007518796992481

In [45]:
# 18세 DataFrame
df_18 = df[df['Age'] == 18]

In [46]:
# 18세 평귤 결석보다 낮고, 주간 평균 공부 시간보다 높은 성적 B 이상 비율
((df_18['Absences'] <= df_18['Absences'].mean()) & (df_18['StudyTimeWeekly'] >= df_18['StudyTimeWeekly'].mean()) & (df_18['GradeClass'] <= 1)).sum() / ((df_18['Absences'] <= df_18['Absences'].mean()) & (df_18['StudyTimeWeekly'] >= df_18['StudyTimeWeekly'].mean())).sum() * 100

36.486486486486484

In [47]:
# 18세 평귤 결석보다 높고, 주간 평균 공부 시간보다 낮은 성적 B 이상 비율
((df_18['Absences'] >= df_18['Absences'].mean()) & (df_18['StudyTimeWeekly'] <= df_18['StudyTimeWeekly'].mean()) & (df_18['GradeClass'] <= 1)).sum() / ((df_18['Absences'] >= df_18['Absences'].mean()) & (df_18['StudyTimeWeekly'] <= df_18['StudyTimeWeekly'].mean())).sum() * 100

5.0