In [4]:
import pandas as pd

In [7]:
ELEC_DATA_PATH = '../Data/electric_df_28_days.csv'
WATER_DATA_PATH = '../Data/water_df_28_days.csv'

In [10]:
electric_df = pd.read_csv(ELEC_DATA_PATH, index_col = 0)
water_df = pd.read_csv(WATER_DATA_PATH, index_col = 0)

electric_df.head()

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,1.23,1.45,1.73,1.62,1.31,1.48,1.74,1.71,1.30,1.49,...,1.77,1.68,1.20,1.42,1.88,1.67,1.24,1.39,1.67,1.60
1,1.45,1.73,1.62,1.31,1.48,1.74,1.71,1.30,1.49,1.94,...,1.68,1.20,1.42,1.88,1.67,1.24,1.39,1.67,1.60,1.26
2,1.73,1.62,1.31,1.48,1.74,1.71,1.30,1.49,1.94,1.68,...,1.20,1.42,1.88,1.67,1.24,1.39,1.67,1.60,1.26,1.41
3,1.62,1.31,1.48,1.74,1.71,1.30,1.49,1.94,1.68,1.26,...,1.42,1.88,1.67,1.24,1.39,1.67,1.60,1.26,1.41,1.68
4,1.31,1.48,1.74,1.71,1.30,1.49,1.94,1.68,1.26,1.39,...,1.88,1.67,1.24,1.39,1.67,1.60,1.26,1.41,1.68,1.59

In [ ]:
def extract_diff(df):

    diff_df = pd.DataFrame(columns = range(27))

    for i in range(len(df)):
        L = []

        for j in range(27):
            L.append(df.iloc[i][j] - df.iloc[i][j + 1])

        diff_df.loc[i] = L
    
    return diff_df

In [ ]:
water_diff_df = extract_diff(water_df)
electric_diff_df = extract_diff(electric_df)

In [18]:
water_diff_df

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,26
0,-90,-90,-200,378,-152,4,-80,225,-110,-58,...,-47,93,49,-93,-65,6,145,-109,-48,60
1,-90,-200,378,-152,4,-80,225,-110,-58,-13,...,93,49,-93,-65,6,145,-109,-48,60,99
2,-200,378,-152,4,-80,225,-110,-58,-13,173,...,49,-93,-65,6,145,-109,-48,60,99,-118
3,378,-152,4,-80,225,-110,-58,-13,173,-93,...,-93,-65,6,145,-109,-48,60,99,-118,-35
4,-152,4,-80,225,-110,-58,-13,173,-93,-53,...,-65,6,145,-109,-48,60,99,-118,-35,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
340995,61,122,-75,-96,-132,240,-73,-7,-40,132,...,89,-160,-72,185,95,-58,30,-225,185,-80
340996,122,-75,-96,-132,240,-73,-7,-40,132,-45,...,-160,-72,185,95,-58,30,-225,185,-80,-132
340997,-75,-96,-132,240,-73,-7,-40,132,-45,-110,...,-72,185,95,-58,30,-225,185,-80,-132,-10
340998,-96,-132,240,-73,-7,-40,132,-45,-110,55,...,185,95,-58,30,-225,185,-80,-132,-10,20
340999,-132,240,-73,-7,-40,132,-45,-110,55,120,...,95,-58,30,-225,185,-80,-132,-10,20,120

In [19]:
electric_diff_df.to_csv('../Data/electric_diff_df.csv', index = 0)
water_diff_df.to_csv('../Data/water_diff_df.csv', index = 0)