### [Series 연산 - 3]
- 원소값이 비어 있는 경우
- 인덱스가 서로 다른 Series의 경우

In [26]:
# [1] 모듈 로딩
import numpy as np
import pandas as pd
import math

In [27]:
# 빈칸 즉, 비어있다는 의미를 나타내는 문자 ==> pandas에 없음
# math 모듈과 numpy 패키지를 사용

bibibig = [13, 600, np.nan, 1500]
melona = [32, 700, 1200, 1500]

In [30]:
# [2] 데이터 준비
sr1 = pd.Series(bibibig, dtype = "float16")
sr2 = pd.Series(melona, dtype = "float16")

In [31]:
# [3] 1D List ==> Series 형태 저장

sr1 + sr2

c:\Users\KDP-2\anaconda3\envs\PY_39\lib\site-packages\pandas\io\formats\format.py:1458: RuntimeWarning: overflow encountered in cast
  has_large_values = (abs_vals > 1e6).any()

0      45.0
1    1300.0
2       NaN
3    3000.0
dtype: float16

In [32]:
sr1 - sr2

c:\Users\KDP-2\anaconda3\envs\PY_39\lib\site-packages\pandas\io\formats\format.py:1458: RuntimeWarning: overflow encountered in cast
  has_large_values = (abs_vals > 1e6).any()

0    -19.0
1   -100.0
2      NaN
3      0.0
dtype: float16

In [35]:
sr3 = sr2.rename(index = {1:2, 2:3, 3:4})
sr3

0      32.0
3     700.0
4    1200.0
4    1500.0
dtype: float16

In [13]:
# 뺄셈 연산
sr1 - sr2

0     -13
1    -600
2   -1500
dtype: int16

In [14]:
# > 비교 연산
sr1 > sr2

0    False
1    False
2    False
dtype: bool

In [43]:
# = 비교 연산
sr1 == sr2
print(sr2)

ValueError: Can only compare identically-labeled Series objects

In [39]:
sr3 = sr3.reset_index(drop = True)

In [41]:
# NaN에 대한 연산 수행을 못하는 것 해결 위한 메서드 제공
# - fill_value : 빈 칸 즉, NaN에 값을 지정
sr1.add(sr2, fill_value = 0.)

c:\Users\KDP-2\anaconda3\envs\PY_39\lib\site-packages\pandas\io\formats\format.py:1458: RuntimeWarning: overflow encountered in cast
  has_large_values = (abs_vals > 1e6).any()

0      45.0
1     600.0
2     700.0
3    2700.0
4    1500.0
dtype: float16

In [44]:
# - 인덱스가 다른 Series 연산에서 메서드 사용
sr3 = sr2.rename(index = {1 : 2, 2 : 3, 3 : 4})

In [46]:
sr2.add(sr3, fill_value = 0.0)

c:\Users\KDP-2\anaconda3\envs\PY_39\lib\site-packages\pandas\io\formats\format.py:1458: RuntimeWarning: overflow encountered in cast
  has_large_values = (abs_vals > 1e6).any()

0      64.0
2     700.0
3    1900.0
4    2700.0
4    3000.0
dtype: float16