In [30]:
import pandas as pd

data = {"이름" : ["메로나", "비비빅", "죠스바"],
        "가격" : [300, 400, 250],
        "재고" : [20, 3, 100]}

In [31]:
DF = pd.DataFrame(data)

In [32]:
print(DF.columns)
print(DF.index)

Index(['이름', '가격', '재고'], dtype='object')
RangeIndex(start=0, stop=3, step=1)

In [33]:
print(DF["가격"])

0    300
1    400
2    250
Name: 가격, dtype: int64

In [34]:
print(DF[["이름", "재고"]])

    이름   재고
0  메로나   20
1  비비빅    3
2  죠스바  100

In [35]:
print(DF.loc[1, ["가격", "재고"]])

가격    400
재고      3
Name: 1, dtype: object

In [36]:
print(DF.loc[[0, 2], ["가격", "재고"]])

    가격   재고
0  300   20
2  250  100

In [41]:
DF.index = ["일", "이", "삼"]
print(DF)

    이름   가격   재고  총가격
일  메로나  300   20    0
이  비비빅  400    3    0
삼  죠스바  250  100    0

In [38]:
DF["총가격"] = 0

In [48]:
DF.loc["사"] = ("빵빠레", 550, 10, 0)
DF

    이름   가격   재고  총가격
일  메로나  300   20    0
이  비비빅  400    3    0
삼  죠스바  250  100    0
사  빵빠레  550   10    0

In [49]:
DF.loc["이", "재고"] = 23
DF

    이름   가격   재고  총가격
일  메로나  300   20    0
이  비비빅  400   23    0
삼  죠스바  250  100    0
사  빵빠레  550   10    0